<article class="challenge-submissions">
  {% include 'wyciwyg:sdc_back' %}
  <div class="content">
    <div class="header">
      <h1>{{ label }}</h1>
      {% if submissions|length > 0 %}
        <button class="btn btn-orange show-names">Show Names</button>
      {% endif %}
      {{ drupal_field('field_reference_image', 'node', challenge_id) }}
    </div>

    {% if submissions|length == 0 %}
      <div class="no-submissions">
        <p>No submissions yet.</p>
      </div>
    {% else %}
      <div class="grid">
        {% for submission in submissions %}
          <div class="grid-item">
            <div class="id-name">
              <span class="id">{{ submission.id }}</span><span class="name"> - {{ submission.field_name.value }}</span>
            </div>
            <div class="iframe">
              <iframe srcdoc="{{ submission.field_code.value }}"></iframe>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="footer">
        <button data-delete="submissions" data-challenge-id="{{ challenge_id }}" class="danger-btn">Delete all submissions and votes</button>
      </div>
    {% endif %}

  </div>
</article>